SQL_USERNAME=
SQL_PASSWORD=
SQL_HOST=
SQL_DATABASE=
URI=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

HELPER_ROLE=
ADMIN_ROLE=
FRONTEND=

# Cloudflare R2 Configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
AWS_ACCOUNT_ID=
AWS_S3_REGION=auto
# Custom domain for serving media/assets
AWS_ASSETS_DOMAIN=website.assets.craftnepal.net